body {
  font-family: Arial, sans-serif;
  background-image: url('/public/img/base_model_sd_xl.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.container h1 {
  color: #fff;
  font-size: 34px;
  font-family: monospace;
  margin-bottom: 20px;
}

form {
  color: #fff;
  display: flex;
  margin-bottom: 20px;
}

input::placeholder {
  color: #fff;
}

input[type="text"] {
  flex: 1;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  border: 1px black solid;
  border: none;
  border-radius: 4px;
}

.form-label {
  font-size: 17px;
  color: #fff;
}

.add {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #93e0a3;
}

.mb-3 .form-select  {
  border: 1px solid transparent;
  color: #fff;
  background-color: #5c5454;
}


li {
  color: #fff;
  background-color: #5c5454;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #000;
}

.btn-delete {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  margin-left: 10px;
}

.btn-delete:hover {
  background-color: #b95761;
}